body {
    text-align: center;
    overflow-x: hidden;
    font-family: verdanna;
}

header {
    background-color: dimgrey;
}

.header-logo {
    width: 2rem;
    height: 2rem;
    margin-right: 75%;
    position: relative;
    top: 60px;
}

#title {
    font-weight: bold;
    font-size: 230%;
    text-transform: uppercase;
    padding: 1%;
    color: cornsilk;
    margin-top: 5%;
    margin-right: 45%;
    letter-spacing: 0.5rem;
    text-align: center;
}

#header-icon {
    width: 1.2rem;
    height: 1rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    left: 92%;
    padding: auto;
    bottom: 4.5rem;
    cursor: pointer;
}

#close-icon {
    width: 1.2rem;
    height: 1rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    left: 92%;
    padding: auto;
    bottom: 4.5rem;
    cursor: pointer;
}

#contact-attribute, #services-attribute, #portfolio-attribute {
    color: white;
}

#header-icon hr {
    color: black;
    width: 80%;
}

#cycle_nav {
    background-color: dodgerblue;
}

#cycle_ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 1rem;
}

.cycle_li {
    color: white;
    font-weight: bold;
    margin: auto;
    text-transform: uppercase;
}

#introduction_section {
    background-color: burlywood;
    height: auto;
    width: auto;
}

#services_container {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.service-items {
    padding: 3%;
    font-weight: bold;
    margin: 3%;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: auto;
}

#salesPiche_aside {
    margin-top: 5%;
}

#button_id {
    background-color: lightgray;
    padding: 3%;
    font-weight: bold;
    border: 1px solid white;
    border: none;
    box-shadow: 0 0 10px #777777;
    display: inline-block;
    transition: ease-in-out;
    margin-bottom: 1rem;
}

    #button_id:hover {
        transform: scale(1.4);
    }



    #button_id a {
        text-decoration: none;
        color: red;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
    }

.services_question {
    font-weight: bold;
    font-size: 200%;
    color: black;
    text-shadow: gray;
    padding: 5%;
    margin-top: -5%;
}


.package_header {
    font-weight: bold;
    font-size: 200%;
    padding-top: 5%;
    color: black;
    text-shadow: gray;
    padding: 5%;
}


#services_aside {
    padding: 1%;
    position: relative;
    left: 2%;
}

#website_plans {
    margin-bottom: 10%;
    padding: 10%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#Basic, #Premium, #Gold {
    overflow-x: hidden;
    background-color: lightgray;
    border: 1px solid white;
    border: none;
    border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -o-border-radius: 50px 50px 50px 50px;
    box-shadow: 0 0 10px #777777;
    padding: 5em 0;
    transition: ease-in-out;
    margin-bottom: 5%;
    flex-basis: 110%;
}

    #Basic ul, #Premium ul, #Gold ul {
        padding-top: 2%;
        padding-bottom: 2%;
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 22px;
        cursor: pointer;
        margin-left: 15%;
        margin-right: 15%;
    }

        #Basic ul li:hover, #Premium ul li:hover, #Gold ul li:hover {
            transform: scale(1.4);
            background-color: white;
            color: black;
            width: 75%;
            margin-right: 3%;
            margin-left: 5%;
            padding: 0;
        }

    #Basic ul {
        background-color: burlywood;
    }

    #Premium ul {
        background-color: dodgerblue;
    }

    #Gold ul {
        background-color: gold;
    }

#Basic, #Premium, #Gold {
    transition: 0.5s;
}

    #Basic:hover, #Premium:hover, #Gold:hover {
        transform: scale(1.1);
    }

    #Basic #button_id:hover, #Premium #button_id:hover, #Gold #button_id:hover {
        transform: scale(1.1);
    }

.plan_li {
    list-style: none;
    text-align: center;
    width: 90%;
}

.Basic_title, .Premium_title, .Gold_title {
    font-size: 200%;
    font-weight: bold;
}

.services_call a {
    padding: 3%;
}


.border_contact {
    border-top: 1px solid white;
    margin-top: 7%;
}

.phone-flex {
    display: flex;
    flex-direction: row;
}

.service_phone_icon {
    max-width: unset;
    width: auto;
    width: 10%;
    margin-right: 45%;
    margin-top: 5%;
    margin-bottom: -13%;
}

.phone-flex p {
    margin-left: -7rem;
    margin-bottom: -2rem;
}


.email-flex {
    display: flex;
    flex-direction: row;
}

.service_email_icon {
    max-width: unset;
    width: auto;
    width: 10%;
    margin-right: 56%;
    margin-top: 20%;
    margin-bottom: -12%;
}

.email-flex p {
    margin-left: -10rem;
    margin-bottom: -5rem;
}

.price {
    font-weight: bold;
    font-size: 150%;
    margin-top: 6rem;
}


.service_note p {
    color: white;
}

.service_note a {
    margin-top: -10%;
    padding: 2%;
    width: 100%;
    color: white;
    text-decoration: none;
    transition: 1.0s;
}

    .service_note a:hover {
        transform: scale(1.5);
        color: darkgoldenrod;
    }




#websiteExample_header {
    font-weight: bold;
    font-size: 200%;
    padding-top: 2%;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: gray;
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.fig-wrap {
}

.maneattraction {
    width: 80%;
    height: 60%;
    box-shadow: 0 0 10px #777777;
    transition: 0.5s;
    margin-bottom: 30%;
    margin-top: 15%;
}

.nature {
    width: 80%;
    height: 60%;
    box-shadow: 0 0 10px #777777;
    transition: 0.5s;
    margin-bottom: 30%;
    margin-top: 10%;
}

.samsPhotography {
    width: 80%;
    height: 60%;
    box-shadow: 0 0 10px #777777;
    transition: 0.5s;
    margin-bottom: 30%;
    margin-top: 10%;
}

    .maneattraction:hover, .nature:hover, .samsPhotography:hover {
        transform: scale(1.1);
    }

.fig-one, .fig-two, .fig-three {
    background-color: lightgray;
    font-weight: bold;
    box-shadow: 0 0 10px #777777;
}


.salon-link {
    color: black;
}

#fig-one-id {
    width: 18rem;
    height: 5rem;
    position: absolute;
    padding: 5%;
    margin-top: -25%;
    margin-left: 12%;
    align-items: center;
}

#fig-two-id {
    position: absolute;
    padding: 5%;
    margin-top: -25%;
    align-items: center;
    justify-content: center;
    width: 18rem;
    height: 5rem;
    margin-left: 12%;
}



#fig-three-id {
    width: 18rem;
    height: 5rem;
    position: absolute;
    padding: 5%;
    margin-top: -25%;
    margin-left: 12%;
    align-items: center;
    justify-content: center;
}


#section {
    margin-top: 5%;
}



#footer {
    background-color: dimgray;
    color: white;
    padding: 3%;
    height: auto;
    opacity: 0.9;
    margin-top: 5%;
}



/*  star rating section*/

x-star-rating {
    font-family: 'Ionicons';
    font-size: 48px;
    display: inline-flex;
    cursor: pointer;
    align-content: center;
    margin-bottom: 4%;
    margin-top: 2%;
}

    x-star-rating .star::after {
        content: '\f3ae';
        color: #777;
    }

    x-star-rating .star.full::after {
        content: '\f2fc';
        color: #fd0;
    }



/*  End of star rating section*/


.footer_contact {
    margin-bottom: -1%;
    margin-top: -3%;
    text-decoration: underline;
}

.footer-wrap {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    justify-content: center;
    margin-bottom: -5%;
    margin-top: -3%;
}

.email-wrap {
    margin-bottom: 5%;
}


.email_icon {
    width: 25px;
    height: 40px;
    padding: 0.5em 0;
    margin-right: 15%;
    margin-bottom: 1em;
    position: absolute;
    left: 25%;
}

.email_sentence {
    margin-bottom: -3%;
}

.phone_icon {
    width: 25px;
    height: 40px;
    padding: 0.5em 0;
    margin-left: 4em;
    margin-bottom: 1em;
    position: absolute;
    left: 16%;
}


.footer-wrap .number p {
    color: white;
    text-decoration: none;
}

.IG_icon {
    padding: 0.5em 0;
    margin-left: 0;
}

.footer-logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.footer-logo {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
}

#footerTwo {
    background-color: black;
    color: white;
}

.small_footer_items {
    display: flex;
    flex-direction: column;
}

.small-item {
    margin: auto;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
